<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <img src="logo.png" height='100' width="100">
    <a href="/">Home</a>
    <a href="listTask.html">List My Tasks</a><br>
    <form>
        <h1>Task Name</h1>
        <input type="text" name="taskName" /> </br>
        
        <h1>Task Due</h1>
        <input type="date" name="taskDue" /> </br>

        <h1>Task Desc</h1>
        <input type="text" name="taskDesc" /> </br>
        <br>
        <button>Enter Task</button>
    </form>
</body>

</html>